.page-title {
    position: fixed;
    bottom: var(--general-margin);
    left: var(--general-margin);
    color: var(--bg-color);
    mix-blend-mode: difference;
    z-index: 3;
}

.footer--page a {
    color: var(--txt-color);
    font-weight: 500;
}

.footer--page a:hover {
    color: var(--grey);
}

.page-container {
    animation: fadeIn 1s ease-in-out 1;
}

.page-info {
    color: var(--txt-color);
    padding-top: var(--nav);
    margin-bottom: calc(var(--nav)*2);
}

.page-siteplan {
    width: auto;
    height: var(--doc-height);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    filter: invert(1);
    z-index: 2;
    animation: fadeIn .5s 1s ease-in-out 1;
}

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--general-margin);
    padding: var(--general-margin);
}

.info-content {
    grid-column-start: 2;
}

.info-content p {
    text-indent: 50%;
    margin-bottom: 1rem;
}

.filters--page {
    position: fixed;
    height: auto;
    justify-content: flex-start;
    gap: .5rem;
    overflow-y: hidden;
}

.filter-this,
figcaption {
    font-weight: 400;
    color: var(--grey);
}

figcaption {
    font-size: .8rem;
}

.page-drawings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--general-margin);
    padding: var(--general-margin);
    margin-bottom: calc(var(--nav)*2);
}

.drawings-wrapper img {
    width: auto;
    max-height: 75vh;
    height: auto;
}

.page-gallery {
    display: flex;
    gap: var(--general-margin);
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: end;
    padding: var(--general-margin);
    margin-bottom: calc(var(--nav)*2);
}

.gallery-wrapper img {
    width: auto;
    max-height: 400px;
    height: auto;
}

.reveal {
    opacity: 0;
    transition: opacity 1s ease;
}

.appear {
    opacity: 1;
}

@media screen and (max-width: 720px) {
    .page-siteplan {
        width: 100%;
        height: auto;
        position: static;
        pointer-events: all;
        mix-blend-mode: unset;
        filter: invert(0);
        z-index: 2;
        display: block;
    }

    .page-info,
    .page-drawings,
    .page-gallery {
        margin-bottom: var(--nav);
    }

    .drawings-wrapper img,
    .gallery-wrapper img {
        max-height: auto;
        height: auto;
        width: 100%;
    }

    .page-gallery {
        flex-direction: column;
    }

    .page-info {
        padding-top: 0;
        padding-bottom: 0;
    }

    .info-wrapper {
        display: block;
    }

    .info-content p {
        text-indent: 25%;
        margin-bottom: 1rem;
    }

    .filters--page {
        position: static;
        padding: 0;
    }
}