/* @keyframes fade {
    from {
        opacity: .3;
        transform: translateX(5%);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
} */

body.page {
    overflow: hidden;
    /* animation: fadeIn 1s ease-in-out 1; */
}

.page-container {
    height: var(--doc-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.page-container section {
    width: 100%;
    position: relative;
}

.page-title {
    position: fixed;
    bottom: var(--general-margin);
    left: var(--general-margin);
    color: var(--bg-color);
    mix-blend-mode: difference;
    z-index: 3;
}

.project-siteplan {
    width: auto;
    height: var(--doc-height);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    filter: invert(1);
    z-index: 2;

    /* width: 100%;
    height: auto;
    position: static; */
}

.info {
    color: var(--txt-color);
    padding: var(--nav) 0;
    overflow-y: scroll;
    height: auto;
}

/* .info::after {
    content: "";
    width: 100%;
    height: 25%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .75), hsl(0, 0%, 100%));
    pointer-events: none;
    filter: blur(8px);
} */

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--general-margin);
    padding: var(--general-margin);
}

.info-content {
    grid-column-start: 2;
}

.info-content p {
    text-indent: 50%;
    margin-bottom: 1rem;
}

.filters--page {
    position: static;
    height: auto;
    justify-content: flex-start;
    gap: .5rem;
    overflow-y: hidden;
    padding: 0;
}

.filter-this {
    /* font-weight: 500;
    color: var(--grey); */
    font-weight: 400;
    color: var(--orange);
}

.planimetrie,
.sezione,
.facciate,
.foto {
    background-color: var(--bg-color);
    padding-top: calc(var(--general-margin)*2);
    padding-bottom: calc(var(--general-margin)*2);
    z-index: 2;
}

.planimetrie img,
.sezione img,
.facciate img,
.foto img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: difference;
    z-index: 3;
}

.arrow-right {
    right: var(--general-margin);
}

.arrow-left {
    left: var(--general-margin);
}

.arrow-right svg,
.arrow-left svg {
    height: 2rem;
    stroke: var(--bg-color);
    stroke-width: 1px;
    cursor: pointer;
}

.footer--page a {
    color: var(--txt-color);
    font-weight: 500;
}

.footer--page a:hover {
    color: var(--grey);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.on-mobile {
    display: none;
}

@media screen and (max-width: 720px) {

    .project-siteplan {
        display: none;
    }

    .on-mobile {
        display: block;
        width: 100%;
    }

    /* @keyframes fade {
        from {
            opacity: .5;
        }

        to {
            opacity: 1;
        }
    } */

    /* .project-siteplan {
        left: -50%;
    } */

    .arrow-right svg,
    .arrow-left svg {
        height: 1rem;
        stroke: var(--bg-color);
        stroke-width: 3px;
        cursor: pointer;
    }

    .planimetrie,
    .sezione,
    .facciate {
        padding: 2rem 1rem;
    }

    .foto {
        padding: 0;
    }

    .planimetrie img,
    .sezione img,
    .facciate img,
    .foto img {
        height: auto;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .info-wrapper {
        display: block;
        padding: 0 2.5rem;
    }
}