:root {
    --doc-height: 100%;
    /* arancione iniziale: */
    /* --orange: #ec9b50; */
    /* arancione chiaro iniziale */
    /* --light-orange: #ffc793; */
    /* arancione scuro-rosso: */
    /* --orange: #E24011; */
    /* blu acceso se vogliamo cambiare: */
    /* --orange: #2a24d5; */
    --txt-color: #171a19;
    --bg-color: #ffffff;
    --orange: #e24011;
    --ecru: #c0b490;
    --light-ecru: #ded6bf;
    --nav: 5rem;
    --general-margin: 2.5rem;
    --copy-txt: .95rem;
    --medium-txt: 1.5rem;
    --large-txt: calc(2vw + 3rem);
    --project-size: calc(3vw + 2rem);
}


body {
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

a {
    cursor: pointer;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2 {
    font-size: var(--large-txt);
    font-weight: 200;
    line-height: .8;
    text-indent: -2px;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

li {
    color: var(--txt-color);
}

body.home {
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#cursor {
    width: 48px;
    height: 48px;
    /* background: none;
    border: 2px solid var(--orange);
    border-radius: 50%; */
    background-image: url("assets/cursor.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* transform-origin: center; */
    /* margin: -10px 0 0 -10px; */
    pointer-events: none;
}

.project.animation {
    transition: transform 0s;
    top: 50% !important;
    left: 50% !important;
    transform: scale(0);
    opacity: 0;
}

.animation-cover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: var(--txt-color);
    transition: background-color .5s ease-in, opacity .5s ease;
}

.logo-init {
    width: calc(var(--large-txt)*2);
    animation: fadeIn .8s ease-in-out 1 forwards;
    transition: width 3s linear;
}

.logo-init.change-width {
    width: 100%;
}

.logo-init svg {
    display: block;
    margin-bottom: 1rem;
}

.logo-name {
    position: relative;
    fill: var(--bg-color);
}

.logo-name g {
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo-name g:first-of-type {
    transform: translateX(-100%);
}

.logo-name g:last-of-type {
    transform: translateX(100%);
}

header {
    position: fixed;
    top: var(--general-margin);
    right: var(--general-margin);
    color: var(--ecru);
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 5;
}

nav {
    line-height: 1;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav a:hover {
    color: var(--orange);
}

nav h1 {
    display: inline;
    color: var(--orange);
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: var(--bg-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overlay.over {
    opacity: .95;
    pointer-events: all;
    cursor: -webkit-image-set(url(assets/cursor-close.svg) 1.4x), crosshair;
}

.close-all {
    display: none;
}

.to-the-page {
    visibility: hidden;
    pointer-events: none;
}

footer {
    position: fixed;
    bottom: var(--general-margin);
    right: var(--general-margin);
    z-index: 3;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    font-size: var(--copy-txt);
    font-weight: 400;
    line-height: 1.2;
    color: var(--txt-color);
}

footer p:nth-of-type(1) {
    font-weight: 500;
}

footer p:nth-of-type(2) {
    color: var(--orange);
}

footer a {
    color: var(--ecru);
}

footer a:hover {
    color: var(--orange);
}

.slide-section {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 8;
    padding: var(--general-margin);
    font-size: var(--copy-txt);
    color: var(--txt-color);
    background-color: var(--light-ecru);
    opacity: 0;
    transition: opacity .5s ease;
}

.slide-section.open {
    transform: translateY(0);
    opacity: 1;
}

.slide-section::-webkit-scrollbar {
    display: none;
}

.close-btn {
    position: absolute;
    top: var(--general-margin);
    right: var(--general-margin);
}

.close-btn svg {
    stroke: var(--txt-color);
}

.about,
.contact {
    border-top: 1px solid var(--bg-color);
}

.news {
    width: 50%;
    height: var(--doc-height);
    border-right: 1px solid var(--bg-color);
    overflow-y: scroll;
}

.news h2 {
    margin-bottom: 1rem;
}

.news h3 {
    font-size: var(--copy-txt);
}

.news p {
    margin-bottom: .5rem;
}

.news .info-list-content:not(:last-of-type) {
    margin-bottom: calc(var(--general-margin)*2);
}

.about {
    height: 75%;
    gap: var(--nav);
    overflow-y: scroll;
}

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--general-margin);
}

.about .info-wrapper,
.news .info-list {
    margin-right: var(--general-margin);
}

.info-content {
    grid-column-start: 2;
}

.info-content p {
    text-indent: 20%;
    margin-bottom: 1rem;
}

.info-content p:last-of-type {
    margin-bottom: 0;
}

.info-content span {
    font-weight: 500;
}

.info-list-content p:first-of-type {
    width: fit-content;
    font-weight: 500;
    border-bottom: solid 1px var(--orange);
}

.about .info-list-content:not(:last-of-type) {
    margin-bottom: 1rem;
}

.about .info-list-content img {
    height: auto;
    max-width: 250px;
}

.info-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--general-margin);
    mix-blend-mode: luminosity;
}

.info-images img {
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

.info-images img.appear {
    opacity: 1;
}

.contact {
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.contact-block:not(:last-of-type) {
    margin: 0 1rem;
}

.contact-block p:nth-child(1) {
    display: inline-block;
    border-bottom: solid 1px var(--orange);
}

.contact-block p:nth-child(1),
.contact-block a {
    font-weight: 500;
    margin-bottom: .5rem;
}

.contact-block a:hover {
    color: var(--ecru);
}

.contact-block p:last-child {
    margin-top: .5rem;
}

.contact-logo {
    margin-right: 1rem;
}

.contact-logo svg {
    height: 90%;
    fill: var(--txt-color);
}

/* filters */

.filters {
    height: var(--doc-height);
    padding: var(--general-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: scroll;
    scrollbar-width: none;
    animation: fadeIn 1s ease-in-out 1;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filter-list {
    width: fit-content;
    font-size: var(--copy-txt);
    font-weight: 400;
    line-height: 1.2;
    position: relative;
}

.filter-category {
    font-weight: 500;
}

.filter-btn {
    width: fit-content;
    color: var(--ecru);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-btn.active {
    color: var(--orange);
    padding-left: 1.5rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-btn.active:hover {
    color: var(--ecru);
}

.filter-btn:hover {
    color: var(--orange);
}

.filter-clear {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    cursor: pointer;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-clear p:hover {
    color: var(--ecru);
}

/* projects */

.projects {
    animation: fadeIn 1s ease-in-out 1;
}

.project {
    fill: var(--txt-color);
    transition: opacity 3s ease, fill 1s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.project:hover {
    fill: var(--orange);
}

.project,
.project-plan {
    position: absolute;
    height: var(--project-size);
}

.project-plan,
.project-info {
    display: none;
    z-index: 5;
}

.project-plan {
    transform: scale(2);
    pointer-events: none;
}

.cls-1,
.cls-2 {
    fill: none;
    stroke: var(--txt-color);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-1 {
    stroke-width: 1px;
}

.cls-2 {
    stroke-width: .5px;
}

.project-info {
    position: absolute;
    color: var(--txt-color);
}

.project-info h2 {
    white-space: nowrap;
}

.project-info-text {
    display: flex;
    column-gap: .5rem;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--orange);
}

.project-info-text p {
    font-weight: 500;
    font-size: var(--copy-txt);
    white-space: nowrap;
}

.project-info-link {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.project-info-link a {
    font-weight: 400;
    font-size: var(--copy-txt);
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-info-link a:hover {
    color: var(--ecru);
}

.project-info-link svg {
    stroke: var(--txt-color);
}

.project-wrapper:nth-of-type(1)>.project,
.project-wrapper:nth-of-type(1)>.project-plan,
.project-wrapper:nth-of-type(1)>.project-info {
    top: 10%;
    left: 18%;
}

.project-wrapper:nth-of-type(2)>.project,
.project-wrapper:nth-of-type(2)>.project-plan,
.project-wrapper:nth-of-type(2)>.project-info {
    top: 15%;
    left: 30%;
}

.project-wrapper:nth-of-type(3)>.project,
.project-wrapper:nth-of-type(3)>.project-plan,
.project-wrapper:nth-of-type(3)>.project-info {
    top: 6%;
    left: 57%;
}

.project-wrapper:nth-of-type(4)>.project,
.project-wrapper:nth-of-type(4)>.project-plan,
.project-wrapper:nth-of-type(4)>.project-info {
    top: 17%;
    left: 70%;
}

.project-wrapper:nth-of-type(5)>.project,
.project-wrapper:nth-of-type(5)>.project-plan,
.project-wrapper:nth-of-type(5)>.project-info {
    top: 14%;
    left: 85%;
}

.project-wrapper:nth-of-type(6)>.project,
.project-wrapper:nth-of-type(6)>.project-plan,
.project-wrapper:nth-of-type(6)>.project-info {
    top: 30%;
    left: 15%;
}

.project-wrapper:nth-of-type(7)>.project,
.project-wrapper:nth-of-type(7)>.project-plan,
.project-wrapper:nth-of-type(7)>.project-info {
    top: 65%;
    left: 80%;
}

.project-wrapper:nth-of-type(8)>.project,
.project-wrapper:nth-of-type(8)>.project-plan,
.project-wrapper:nth-of-type(8)>.project-info {
    top: 20%;
    left: 45%;
}

.project-wrapper:nth-of-type(9)>.project,
.project-wrapper:nth-of-type(9)>.project-plan,
.project-wrapper:nth-of-type(9)>.project-info {
    top: 30%;
    left: 55%;
}

.project-wrapper:nth-of-type(10)>.project,
.project-wrapper:nth-of-type(10)>.project-plan,
.project-wrapper:nth-of-type(10)>.project-info {
    top: 40%;
    left: 75%;
}

.project-wrapper:nth-of-type(11)>.project,
.project-wrapper:nth-of-type(11)>.project-plan,
.project-wrapper:nth-of-type(11)>.project-info {
    top: 48%;
    left: 60%;
}

.project-wrapper:nth-of-type(12)>.project,
.project-wrapper:nth-of-type(12)>.project-plan,
.project-wrapper:nth-of-type(12)>.project-info {
    top: 42%;
    left: 40%;
}

.project-wrapper:nth-of-type(13)>.project,
.project-wrapper:nth-of-type(13)>.project-plan,
.project-wrapper:nth-of-type(13)>.project-info {
    top: 50%;
    left: 12%;
}

.project-wrapper:nth-of-type(14)>.project,
.project-wrapper:nth-of-type(14)>.project-plan,
.project-wrapper:nth-of-type(14)>.project-info {
    top: 83%;
    left: 75%;
}

.project-wrapper:nth-of-type(15)>.project,
.project-wrapper:nth-of-type(15)>.project-plan,
.project-wrapper:nth-of-type(15)>.project-info {
    top: 50%;
    left: 92%;
}

.project-wrapper:nth-of-type(16)>.project,
.project-wrapper:nth-of-type(16)>.project-plan,
.project-wrapper:nth-of-type(16)>.project-info {
    top: 65%;
    left: 21%;
}

.project-wrapper:nth-of-type(17)>.project,
.project-wrapper:nth-of-type(17)>.project-plan,
.project-wrapper:nth-of-type(17)>.project-info {
    top: 63%;
    left: 35%;
}

.project-wrapper:nth-of-type(18)>.project,
.project-wrapper:nth-of-type(18)>.project-plan,
.project-wrapper:nth-of-type(18)>.project-info {
    top: 82%;
    left: 35%;
}

.project-wrapper:nth-of-type(19)>.project,
.project-wrapper:nth-of-type(19)>.project-plan,
.project-wrapper:nth-of-type(19)>.project-info {
    top: 68%;
    left: 55%;
}

.project-wrapper:nth-of-type(20)>.project,
.project-wrapper:nth-of-type(20)>.project-plan,
.project-wrapper:nth-of-type(20)>.project-info {
    top: 40%;
    left: 27%;
}

.project-wrapper:nth-of-type(5)>.project-info,
.project-wrapper:nth-of-type(15)>.project-info {
    transform: translate(-140%, -25%);
    margin-top: 0;
}

.project-wrapper:nth-of-type(10)>.project-info {
    transform: translate(-130%, -25%);
    margin-top: 0;
}

.project-wrapper:nth-of-type(1)>.project-info,
.project-wrapper:nth-of-type(2)>.project-info,
.project-wrapper:nth-of-type(3)>.project-info,
.project-wrapper:nth-of-type(4)>.project-info,
.project-wrapper:nth-of-type(6)>.project-info,
.project-wrapper:nth-of-type(8)>.project-info,
.project-wrapper:nth-of-type(9)>.project-info,
.project-wrapper:nth-of-type(11)>.project-info,
.project-wrapper:nth-of-type(12)>.project-info,
.project-wrapper:nth-of-type(13)>.project-info,
.project-wrapper:nth-of-type(20)>.project-info {
    margin-top: 10%;
    margin-left: -5%;
}

.project-wrapper:nth-of-type(7)>.project-info,
.project-wrapper:nth-of-type(14)>.project-info,
.project-wrapper:nth-of-type(16)>.project-info,
.project-wrapper:nth-of-type(17)>.project-info,
.project-wrapper:nth-of-type(18)>.project-info,
.project-wrapper:nth-of-type(19)>.project-info {
    transform: translate(-30%, -150%);
    margin-top: 0;
}

.project.filtered {
    fill: var(--orange);
}

.project.hide {
    filter: opacity(0);
    pointer-events: none;
}

/* list view */

.projects--lv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--general-margin);
    padding: var(--general-margin);
    margin: var(--nav) 0 calc(var(--nav)*2) 0;
}

/* .projects--lv::after {
    content: "";
    width: 100%;
    height: 25%;
    position: fixed;
    bottom: -2%;
    right: 0;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .75), hsl(0, 0%, 100%));
    pointer-events: none;
    filter: blur(8px);
} */

.project-wrapper--lv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 2rem;
    -webkit-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project--lv {
    position: static;
}

.project-plan--lv {
    position: relative;
    z-index: 5;
}

.project-list--lv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1rem;
}

.project-list--lv img {
    height: var(--project-size);
}

.project-title--lv {
    font-weight: 500;
    font-size: var(--copy-txt);
    color: var(--txt-color);
    text-align: right;
    white-space: nowrap;
    height: fit-content;
    margin-left: 1rem;
}

.project-wrapper--lv:last-child>.project-info {
    padding-bottom: var(--general-margin);
}

.project-wrapper--lv .project-info {
    margin-top: 10%;
    margin-left: -5%;
}

.show-info {
    display: block;
}

@media screen and (max-width: 720px) {
    :root {
        --general-margin: 1rem;
    }

    body.home {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .logo-init {
        width: 32%;
        transition: transform 3s linear;
    }

    .logo-init.change-width {
        width: 32%;
        transform: scale(10);
    }

    nav {
        display: block;
        font-size: var(--copy-txt);
        line-height: 1.2;
    }

    nav h1 {
        display: block;
        text-align: end;
    }

    nav a:first-of-type {
        margin: 0;
    }

    nav a {
        display: block;
        text-align: end;
    }

    nav a.open-menu {
        display: block;
        text-align: end;
    }

    .filter-list:not(.filter-list.always-visible) {
        display: none;
    }

    .filter-list:not(.filter-list.always-visible).open-filter {
        display: block;
    }

    .filter-list.always-visible svg {
        transform: rotate(45deg);
        transition: transform 1.2s ease;
    }

    .filter-list.always-visible svg.rotate {
        transform: rotate(0deg);
    }

    .projects {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-bottom: var(--nav);
    }

    .project-wrapper {
        width: 100%;
        position: relative;
        padding: var(--general-margin);
    }

    .project {
        position: static;
        height: auto;
        width: 100%;
    }

    .project.filtered {
        width: 30vw;
        position: sticky;
        fill: var(--orange);
        margin-left: 25%;
        transform: none;
    }

    .cls-1,
    .cls-2 {
        stroke: var(--bg-color);
    }

    .project-plan {
        position: fixed;
        top: calc(var(--general-margin)*2) !important;
        left: var(--general-margin) !important;
        transform: scale(1);
        height: auto;
        max-height: 60vh;
        width: calc(100vw - var(--general-margin)*2);
    }

    .project-info {
        position: fixed;
        top: auto !important;
        left: var(--general-margin) !important;
        bottom: var(--general-margin);
        transform: none !important;
        margin: 0 !important;
        width: calc(100vw - var(--general-margin)*2);
        color: var(--bg-color);
    }

    /* .project-info {
        margin-top: 0 !important;
        margin-left: 0 !important;
    } */

    .project-info h2 {
        /* padding: var(--general-margin) 0; */
        position: absolute;
        bottom: 4.5rem;
    }

    .project .project-info-link {
        display: none;
    }

    .project-info-text {
        flex-wrap: wrap;
    }

    .project-info-text p {
        white-space: normal;
    }

    .projects--lv {
        margin: var(--nav) 0 var(--nav) 3rem;
        gap: calc(var(--general-margin)*4);
    }

    .project-wrapper--lv {
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: calc(var(--general-margin)/2);
    }

    .project--lv {
        width: 33%;
        height: auto;
    }

    .project-list--lv {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        gap: calc(var(--general-margin)/2);
    }

    .project-list--lv img {
        height: 10vh;
    }

    .project-title--lv {
        font-size: var(--large-txt);
        font-weight: 200;
        line-height: 1;
        margin-left: 0;
        order: -1;
    }

    .overlay {
        background-color: var(--txt-color);
    }

    .overlay.over {
        opacity: 1;
    }

    .overlay svg {
        width: 1.5rem;
        stroke: var(--ecru);
        stroke-width: 2px;
        cursor: pointer;
    }

    .to-the-page {
        visibility: visible;
        pointer-events: all;
        position: fixed;
        /* top: 50%; */
        bottom: 6rem;
        right: var(--general-margin);
        /* transform: translateY(-50%); */
        z-index: 9;
    }

    .close-all {
        display: block;
        position: fixed;
        top: var(--general-margin);
        left: var(--general-margin);
        /* mix-blend-mode: difference; */
        z-index: 9;
    }

    .slide-section {
        flex-direction: column;
        gap: calc(var(--general-margin)*2);
        border: 1px solid var(--bg-color);
        padding-top: 3rem;
    }

    .news {
        width: 100%;
    }

    .about,
    .contact {
        height: var(--doc-height);
    }

    .contact-block:not(:last-of-type) {
        margin: 0;
    }

    .contact-logo {
        height: 16vh;
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
    }

    .about .info-list {
        order: 2;
    }

    .about .info-wrapper,
    .news .info-list {
        margin-right: 0;
    }

    .info-images {
        margin-top: 1rem;
        order: 1;
    }

    .close-btn {
        position: absolute;
        top: var(--general-margin);
        right: var(--general-margin);
    }

    footer {
        gap: var(--general-margin);
    }

    /* avoid over effect on mobile */

    .filter-btn.active:hover {
        color: var(--orange);
    }

    footer a:hover,
    .filter-btn:hover {
        color: var(--ecru);
    }

    .contact-block a:hover,
    .filter-clear p:hover,
    .project-info a:hover,
    .footer--page a:hover {
        color: var(--txt-color);
    }

    .project-wrapper:nth-of-type(odd)>.project:hover,
    .project-wrapper:nth-of-type(even)>.project:hover,
    .project--lv:hover {
        transform: none;
    }
}