:root {
    --doc-height: 100%;
    /* --grey: #efefef; */
    /* --grey: #d8d6d5; */
    --grey: #c2c2c2;
    --light-grey: #efefef;
    --orange: #ec9b50;
    /* --orange: #2a24d5; */
    --light-orange: #ffc793;
    --txt-color: #000000;
    --bg-color: #ffffff;
    --nav: 5rem;
    --general-margin: 2.5rem;
    --copy-txt: .95rem;
    --medium-txt: 1.5rem;
    --large-txt: calc(2vw + 3rem);
    --project-size: calc(3vw + 2rem);
}

body {
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

body.home {
    overflow: hidden;
}

a {
    cursor: pointer;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2 {
    font-size: var(--large-txt);
    font-weight: 200;
    line-height: 1;
    margin-bottom: -4px;
}

header {
    position: fixed;
    top: var(--general-margin);
    right: var(--general-margin);
    color: var(--grey);
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 5;
}

nav {
    line-height: 1;
}

nav a:first-of-type {
    margin: 0 2rem;
}

nav a:hover {
    color: var(--orange);
}

nav h1 {
    display: inline;
    color: var(--orange);
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overlay.over {
    opacity: .95;
    pointer-events: all;
    cursor: -webkit-image-set(url(assets/cursor-close.svg) 2x), crosshair;
}

footer {
    position: fixed;
    bottom: var(--general-margin);
    right: var(--general-margin);
    z-index: 3;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    font-size: var(--copy-txt);
    line-height: 1.2;
    font-weight: 500;
}

footer p:nth-of-type(2) {
    color: var(--orange);
}

footer a {
    color: var(--grey);
}

footer a:hover {
    color: var(--orange);
}

.slide-section {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--light-grey);
    border-top: 1px solid var(--light-orange);
    transform: translateY(100%);
    z-index: 9;
    padding: var(--general-margin);
    display: flex;
    justify-content: space-between;
    font-size: var(--copy-txt);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-section::after {
    content: "";
    width: 100%;
    height: 25%;
    position: fixed;
    top: calc(-25% - 1px);
    left: 0;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .5), hsl(0, 0%, 100%));
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-section.open {
    transform: translateY(0);
    opacity: 1;
}

.slide-section.open::after {
    opacity: 1;
}

.bureau {
    height: 60vh;
    gap: var(--nav);
    overflow-y: scroll;
}

.bureau::-webkit-scrollbar {
    display: none;
}

.contact {
    height: 30vh;
}

.bureau-block {
    height: fit-content;
}

.bureau-block p {
    font-size: var(--medium-txt);
    margin-bottom: var(--general-margin);
}

.bureau-block p:last-child {
    margin-bottom: 30vh;
}

.contact-block p:nth-child(1),
.contact-block a {
    font-weight: 500;
    margin-bottom: .5rem;
}

.contact-block a:hover {
    color: var(--grey);
}

.contact-block p:last-child {
    margin-top: .5rem;
}

.logo svg {
    height: 100%;
}

.bureau-close,
.contact-close {
    position: sticky;
    top: 0;
    cursor: pointer;
}

/* filters */

.filters {
    height: var(--doc-height);
    padding: var(--general-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: scroll;
    scrollbar-width: none;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filter-list {
    width: fit-content;
    font-size: var(--copy-txt);
    line-height: 1.2;
    position: relative;
}

.filter-category {
    font-weight: 500;
}

.filter-btn {
    width: fit-content;
    font-weight: 500;
    color: var(--grey);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-btn.active {
    color: var(--orange);
    padding-left: 1.5rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-btn.active:hover {
    color: var(--grey);
}

.filter-btn:hover {
    color: var(--orange);
}

.filter-clear {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    cursor: pointer;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-clear p:hover {
    color: var(--grey);
}

/* projects */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        z-index: 2;
    }

    98% {
        transform: scale(1);
        z-index: 2;
    }

    100% {
        transform: scale(1);
        z-index: 1;
    }

}

.project {
    fill: var(--txt-color);
    transition: fill .5s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    animation: fadeIn 1.5s ease-out 1 forwards;
}

.project.initAnimate {
    /* animation: scaleOut 3s ease-out 1 running; */
    animation: scaleIn 1s ease-out 1;
}

.project,
.project-plan {
    position: absolute;
    height: var(--project-size);
}

.project-plan,
.project-info {
    display: none;
    z-index: 5;
}

.project-plan {
    transform: scale(2);
    /* cursor: -webkit-image-set(url(assets/cursor-close.svg) 2x), crosshair; */
}

.cls-1,
.cls-2 {
    fill: none;
    stroke: var(--txt-color);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-1 {
    stroke-width: 1px;
}

.cls-2 {
    stroke-width: .5px;
}

.project-info {
    position: absolute;
    margin-top: 8%;
    margin-left: -4%;
}

.project-info h2 {
    white-space: nowrap;
    border-bottom: 1px solid var(--orange);
}

.project-info-text {
    display: flex;
    column-gap: .5rem;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--orange);
}

.project-info-text p {
    font-weight: 500;
    font-size: var(--copy-txt);
}

.project-info a {
    font-weight: 400;
    font-size: var(--copy-txt);
    margin-top: 1rem;
    margin-right: 1rem;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-info a:hover {
    color: var(--grey);
}

.project-info svg {
    stroke: var(--txt-color);
}

/* .project-wrapper:nth-of-type(odd)>.project:hover {
    transform: translate(-20px, 5px);
}

.project-wrapper:nth-of-type(even)>.project:hover {
    transform: translate(15px, -10px);
} */

.project-wrapper:nth-of-type(odd)>.project:hover {
    transform: scale(1.5);
}

.project-wrapper:nth-of-type(even)>.project:hover {
    transform: scale(1.5);
}

.project-wrapper:nth-of-type(1)>.project,
.project-wrapper:nth-of-type(1)>.project-plan,
.project-wrapper:nth-of-type(1)>.project-info {
    top: 10%;
    left: 18%;
}

.project-wrapper:nth-of-type(2)>.project,
.project-wrapper:nth-of-type(2)>.project-plan,
.project-wrapper:nth-of-type(2)>.project-info {
    top: 15%;
    left: 30%;
}

.project-wrapper:nth-of-type(3)>.project,
.project-wrapper:nth-of-type(3)>.project-plan,
.project-wrapper:nth-of-type(3)>.project-info {
    top: 6%;
    left: 57%;
}

.project-wrapper:nth-of-type(4)>.project,
.project-wrapper:nth-of-type(4)>.project-plan,
.project-wrapper:nth-of-type(4)>.project-info {
    top: 17%;
    left: 70%;
}

.project-wrapper:nth-of-type(5)>.project,
.project-wrapper:nth-of-type(5)>.project-plan,
.project-wrapper:nth-of-type(5)>.project-info {
    top: 14%;
    left: 85%;
}

.project-wrapper:nth-of-type(6)>.project,
.project-wrapper:nth-of-type(6)>.project-plan,
.project-wrapper:nth-of-type(6)>.project-info {
    top: 30%;
    left: 15%;
}

.project-wrapper:nth-of-type(7)>.project,
.project-wrapper:nth-of-type(7)>.project-plan,
.project-wrapper:nth-of-type(7)>.project-info {
    top: 65%;
    left: 80%;
}

.project-wrapper:nth-of-type(8)>.project,
.project-wrapper:nth-of-type(8)>.project-plan,
.project-wrapper:nth-of-type(8)>.project-info {
    top: 20%;
    left: 45%;
}

.project-wrapper:nth-of-type(9)>.project,
.project-wrapper:nth-of-type(9)>.project-plan,
.project-wrapper:nth-of-type(9)>.project-info {
    top: 30%;
    left: 55%;
}

.project-wrapper:nth-of-type(10)>.project,
.project-wrapper:nth-of-type(10)>.project-plan,
.project-wrapper:nth-of-type(10)>.project-info {
    top: 40%;
    left: 75%;
}

.project-wrapper:nth-of-type(11)>.project,
.project-wrapper:nth-of-type(11)>.project-plan,
.project-wrapper:nth-of-type(11)>.project-info {
    top: 48%;
    left: 60%;
}

.project-wrapper:nth-of-type(12)>.project,
.project-wrapper:nth-of-type(12)>.project-plan,
.project-wrapper:nth-of-type(12)>.project-info {
    top: 42%;
    left: 40%;
}

.project-wrapper:nth-of-type(13)>.project,
.project-wrapper:nth-of-type(13)>.project-plan,
.project-wrapper:nth-of-type(13)>.project-info {
    top: 50%;
    left: 12%;
}

.project-wrapper:nth-of-type(14)>.project,
.project-wrapper:nth-of-type(14)>.project-plan,
.project-wrapper:nth-of-type(14)>.project-info {
    top: 83%;
    left: 68%;
}

.project-wrapper:nth-of-type(15)>.project,
.project-wrapper:nth-of-type(15)>.project-plan,
.project-wrapper:nth-of-type(15)>.project-info {
    top: 50%;
    left: 92%;
}

.project-wrapper:nth-of-type(16)>.project,
.project-wrapper:nth-of-type(16)>.project-plan,
.project-wrapper:nth-of-type(16)>.project-info {
    top: 65%;
    left: 21%;
}

.project-wrapper:nth-of-type(17)>.project,
.project-wrapper:nth-of-type(17)>.project-plan,
.project-wrapper:nth-of-type(17)>.project-info {
    top: 63%;
    left: 35%;
}

.project-wrapper:nth-of-type(18)>.project,
.project-wrapper:nth-of-type(18)>.project-plan,
.project-wrapper:nth-of-type(18)>.project-info {
    top: 82%;
    left: 35%;
}

.project-wrapper:nth-of-type(19)>.project,
.project-wrapper:nth-of-type(19)>.project-plan,
.project-wrapper:nth-of-type(19)>.project-info {
    top: 68%;
    left: 55%;
}

.project-wrapper:nth-of-type(20)>.project,
.project-wrapper:nth-of-type(20)>.project-plan,
.project-wrapper:nth-of-type(20)>.project-info {
    top: 40%;
    left: 27%;
}

.project-wrapper:nth-of-type(5)>.project-info,
.project-wrapper:nth-of-type(15)>.project-info {
    transform: translate(-120%, -30%);
    margin-top: 0;
}

.project-wrapper:nth-of-type(10)>.project-info {
    transform: translate(-140%, -30%);
    margin-top: 0;
}

.project-wrapper:nth-of-type(7)>.project-info,
.project-wrapper:nth-of-type(14)>.project-info,
.project-wrapper:nth-of-type(16)>.project-info,
.project-wrapper:nth-of-type(17)>.project-info,
.project-wrapper:nth-of-type(18)>.project-info,
.project-wrapper:nth-of-type(19)>.project-info {
    transform: translate(-30%, -150%);
    margin-top: 0;
}

.project.filtered {
    /* fill: var(--light-orange); */
    transform: scale(1.5);
}

/* .project-wrapper--lv.filtered svg {
    fill: var(--light-orange);
} */

.project.hide {
    filter: opacity(0);
    pointer-events: none;
}

.project-plan.show-info,
.project-info.show-info {
    display: block;
}

/* list view */

.projects--lv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--general-margin);
    padding: var(--general-margin);
    margin: var(--nav) 0 calc(var(--nav)*2) 0;
}

.projects--lv::after {
    content: "";
    width: 100%;
    height: 25%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .75), hsl(0, 0%, 100%));
    pointer-events: none;
}

.project-wrapper--lv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 2rem;
    -webkit-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project--lv {
    position: static;
}

.project--lv:hover {
    transform: scale(1.5);
}

.project-plan--lv {
    position: relative;
    z-index: 5;
}

.project-images--lv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1rem;
}

.project-images--lv img {
    height: var(--project-size);
}

.project-title--lv {
    font-weight: 500;
    font-size: var(--copy-txt);
    text-align: right;
    white-space: nowrap;
    height: fit-content;
}

.project-wrapper--lv:last-child>.project-info {
    padding-bottom: var(--general-margin);
}

/* pages */

.page-title {
    position: fixed;
    bottom: var(--general-margin);
    left: var(--general-margin);
    color: var(--bg-color);
    mix-blend-mode: difference;
    z-index: 3;
}

.filters--page {
    position: absolute;
    height: auto;
    justify-content: flex-start;
    gap: .5rem;
    overflow-y: hidden;
    z-index: 1;
}

.filter-this {
    font-weight: 500;
    color: var(--grey);
}

.text-section,
.info-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: var(--general-margin);
}

.text-section {
    min-height: var(--doc-height);
}

.info-section {
    min-height: auto;
    margin-bottom: 10rem
}

.project-siteplan {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--doc-height);
    width: auto;
    pointer-events: none;
    mix-blend-mode: difference;
    filter: invert(1);
    z-index: 1;
}

.project-siteplan img {
    filter: grayscale(1);
    height: 100%;
}

.text-section-wrapper,
.info-section-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--nav)/2);
}

.text-section-wrapper p {
    font-size: var(--medium-txt);
}

.text-section-wrapper p:first-of-type {
    margin-top: var(--nav);
    text-indent: 10rem;
}

.info-block {
    display: flex;
    gap: calc(var(--nav)/2);
}

.info-block p {
    width: 50%;
    font-size: var(--copy-txt);
    font-weight: 400;
}

.vertical-container {
    padding: var(--general-margin);
    position: relative;
    z-index: 2;
}

.vertical-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.vertical-wrapper img {
    width: 66%;
    align-self: flex-end;
}

.--full-width img {
    width: 100%;
    align-self: center;
}

.horizontal-container {
    margin-top: 10rem;
    padding: 5rem;
    border-top: 1px solid var(--light-orange);
    border-bottom: 1px solid var(--light-orange);
    background-color: var(--light-grey);
    position: relative;
    z-index: 2;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.horizontal-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.horizontal-container img {
    width: 66%;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.reveal.appear {
    transform: translateY(0);
    opacity: 1;
}

.footer--page a {
    color: var(--txt-color);
    font-weight: 500;
}

.footer--page a:hover {
    color: var(--grey);
}

@media screen and (max-width: 720px) {
    :root {
        --general-margin: 1rem;
    }

    body.home {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    nav {
        font-size: var(--copy-txt);
        line-height: 1.2;
    }

    nav h1 {
        display: block;
        text-align: end;
    }

    nav a:first-of-type {
        margin: 0;
    }

    nav a {
        /* display: none; */
        display: block;
        text-align: end;
    }

    nav a.open-menu {
        display: block;
        text-align: end;
    }

    .filter-list:not(.filter-list.always-visible) {
        display: none;
    }

    .filter-list:not(.filter-list.always-visible).open-filter {
        display: block;
        /* background-color: hsla(0, 0%, 100%, .5); */
    }

    .filter-list.always-visible svg {
        transform: rotate(45deg);
        transition: transform 1.2s ease;
    }

    .filter-list.always-visible svg.rotate {
        transform: rotate(0deg);
    }

    /* problema qui con justify-content: flex-end; // solved (?) con position: sticky; per .filtered*/

    .projects {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .project-wrapper {
        width: 100%;
        position: relative;
        padding: var(--general-margin);
    }

    .project {
        position: static;
        height: auto;
        width: 100%;
    }

    .project.filtered {
        width: 30vw;
        position: sticky;
        fill: var(--light-orange);
        transform: none;
    }

    .cls-1,
    .cls-2 {
        stroke: var(--bg-color);
    }

    .project-plan {
        position: fixed;
        top: var(--general-margin) !important;
        left: var(--general-margin) !important;
        transform: scale(1);
        height: auto;
        max-height: 60vh;
        width: calc(100vw - var(--general-margin)*2);
    }

    .project-info {
        position: fixed;
        top: auto !important;
        left: var(--general-margin) !important;
        bottom: var(--general-margin);
        transform: none !important;
        margin: 0;
        width: calc(100vw - var(--general-margin)*2);
        color: var(--bg-color);
    }

    .project-info h2 {
        padding: var(--general-margin) 0;
    }

    .project-info svg {
        stroke: var(--bg-color);
    }

    .project-info-text {
        flex-wrap: wrap;
    }

    .projects--lv {
        margin: var(--nav) 0;
        gap: calc(var(--general-margin)*4);
    }

    .project-wrapper--lv {
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: var(--general-margin);
    }

    .project--lv {
        width: 33%;
        height: auto;
    }

    .project-images--lv {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        gap: calc(var(--general-margin)/2);
    }

    .project-images--lv img {
        height: 10vh;
    }

    .project-title--lv {
        font-size: var(--large-txt);
        font-weight: 200;
    }

    .overlay {
        background-color: var(--txt-color);
    }

    .slide-section {
        flex-direction: column;
        gap: calc(var(--general-margin)*2);
    }

    .bureau {
        height: var(--doc-height);
    }

    .contact {
        height: auto;
    }

    .bureau .contact-block {
        height: var(--doc-height);
    }

    .logo {
        height: 16vh;
    }

    .contact-close,
    .bureau-close {
        position: absolute;
        top: var(--general-margin);
        right: var(--general-margin);
    }

    footer {
        gap: var(--general-margin);
    }

    /* pages */

    .project-siteplan {
        left: 50%;
        transform: translateX(-50%);
    }

    .text-section,
    .info-section {
        justify-content: flex-start;
        margin-bottom: var(--nav);
    }

    .text-section-wrapper,
    .info-section-wrapper,
    .info-block p {
        width: 100%;
    }

    .text-section-wrapper p:first-of-type,
    .text-section-wrapper p {
        text-indent: 33%;
    }

    .text-section-wrapper p {
        font-size: var(--copy-txt);
    }

    .vertical-container {
        padding: 0;
    }

    .vertical-wrapper {
        gap: calc(var(--nav)/2);
    }

    .vertical-wrapper img,
    .horizontal-container img {
        width: 100%;
        align-self: center;
    }

    .horizontal-container {
        margin-top: var(--nav);
        padding: var(--general-margin);
    }

    .info-section {
        display: block;
        margin-top: var(--nav);
        gap: var(--general-margin);
    }

    .info-block {
        flex-direction: column;
        gap: var(--general-margin);
    }

    .filters--page {
        position: static;
        padding: 0;
        margin-bottom: calc(var(--nav)/2);
    }

    .filters--page .filter-list {
        display: block;
    }

    /* avoid over effect on mobile */

    .filter-btn.active:hover {
        color: var(--orange);
    }

    footer a:hover,
    .filter-btn:hover {
        color: var(--grey);
    }

    .contact-block a:hover,
    .filter-clear p:hover,
    .project-info a:hover,
    .footer--page a:hover {
        color: var(--txt-color);
    }

    .project-wrapper:nth-of-type(odd)>.project:hover,
    .project-wrapper:nth-of-type(even)>.project:hover,
    .project--lv:hover {
        transform: none;
    }
}