body.page {
    overflow: hidden;
}

.page-title {
    position: fixed;
    bottom: var(--general-margin);
    left: var(--general-margin);
    color: var(--bg-color);
    mix-blend-mode: difference;
    z-index: 3;
}

.arrow-left,
.arrow-right {
    width: 50%;
    height: 75%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.arrow-right {
    left: 50%;
    cursor: -webkit-image-set(url("../ui/arrow-right.svg") 1.4x), e-resize;
}

.arrow-left {
    right: 50%;
    cursor: -webkit-image-set(url("../ui/arrow-left.svg") 1.4x), w-resize;
}

.filters--page {
    position: fixed;
    height: auto;
    justify-content: flex-start;
    gap: .5rem;
    overflow-y: hidden;
}

.filter-this {
    font-weight: 400;
    color: var(--ecru);
}

.footer--page a {
    color: var(--txt-color);
    font-weight: 500;
}

.footer--page a:hover {
    color: var(--ecru);
}

.page-container {
    height: var(--doc-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    animation: fadeIn 1s ease-in-out 1;
}

.page-container section {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.page-title {
    position: fixed;
    bottom: var(--general-margin);
    left: var(--general-margin);
    color: var(--bg-color);
    mix-blend-mode: difference;
    z-index: 3;
}

.page-info {
    color: var(--txt-color);
    align-items: flex-start;
}

.page-siteplan {
    width: auto;
    height: var(--doc-height);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.page-text {
    margin: var(--nav) 0 calc(var(--nav)*2) 0;
    padding: var(--general-margin);
    z-index: 2;
}

.page-gallery {
    align-items: center;
    justify-content: center;
    padding: calc(var(--general-margin)*2);
    z-index: 2;
}

.page-gallery img {
    width: auto;
    max-height: 75vh;
    height: auto;
    max-width: 75vw;
}

/* .appear {
    opacity: 1;
} */

@media screen and (max-width: 720px) {
    body.page {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .page-container {
        height: auto;
        display: block;
        margin-bottom: 5rem;
    }

    .page-container section {
        display: flex !important;
    }

    .arrow-left,
    .arrow-right {
        display: none;
    }

    .filters--page {
        position: absolute;
    }

    .page-siteplan {
        width: 100%;
        height: auto;
        position: static;
        pointer-events: all;
        mix-blend-mode: unset;
        filter: invert(0);
        z-index: 2;
        display: block;
    }

    .page-gallery {
        height: auto;
        padding: 2rem 1rem;
        /* opacity: 0;
        transition: opacity 1s ease; */
    }

    .page-gallery img {
        max-height: 100%;
        max-width: 100%;
    }

    .page-text {
        display: block;
        margin: 0;
    }

    /* .appear {
        opacity: 1;
    } */
}