body.page {
    overflow: hidden;
}

.page-title,
.filters--page,
.page-container {
    cursor: none;
}

a,
video {
    cursor: pointer;
}

.page-container a {
    cursor: pointer;
}

.filters--page {
    position: fixed;
    height: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: .5rem;
    overflow-y: hidden;
}

.filter-this {
    font-weight: 400;
    color: var(--ecru);
}

.footer--page a {
    color: var(--txt-color);
    font-weight: 500;
}

.footer--page a:hover {
    color: var(--ecru);
}

.page-container {
    height: var(--doc-height);
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-animation: fadeIn 1s ease-in-out 1;
    animation: fadeIn 1s ease-in-out 1;
}

.page-container section {
    width: 100%;
    height: 100%;
    max-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.page-title {
    position: fixed;
    bottom: var(--general-margin);
    left: var(--general-margin);
    color: var(--bg-color);
    mix-blend-mode: difference;
    z-index: 3;
}

.page-info {
    font-size: var(--copy-txt);
    color: var(--txt-color);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow-y: scroll;
}

.page-siteplan {
    width: auto;
    height: var(--doc-height);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.page-text {
    margin: var(--nav) 0;
    padding: var(--general-margin);
    z-index: 2;
}

.page-gallery {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: calc(var(--general-margin)*2);
    mix-blend-mode: multiply;
    z-index: 2;
}

.page-gallery img {
    width: auto;
    max-height: 75vh;
    height: auto;
    max-width: 75vw;
}

.page-gallery video {
    width: 60vw;
}

.video-cover {
    display: none;
}

.page-gallery p {
    font-size: .75rem;
    color: var(--orange);
    margin-top: .5rem;
    text-align: center;
}

@media screen and (min-width: 1500px) {
    .page-info {
        font-size: 1.6rem;
    }

    .page-info .info-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .page-info .info-content {
        -ms-grid-column: 3;
        grid-column: 3;
        grid-column-start: 3;
    }
}

@media screen and (max-width: 720px) {
    body.page {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .page-title,
    .filters--page,
    .page-container {
        cursor: revert;
        bottom: 3rem;
    }

    .cursor {
        display: none;
    }

    .page-container {
        height: auto;
        display: block;
        margin-bottom: 5rem;
    }

    .page-container section {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .arrow-left,
    .arrow-right {
        display: none;
    }

    .filters--page {
        position: absolute;
    }

    .page-siteplan {
        width: 100%;
        height: auto;
        position: static;
        pointer-events: all;
        mix-blend-mode: unset;
        -webkit-filter: opacity(.8);
        filter: opacity(.8);
        z-index: 2;
        display: block;
    }

    .page-gallery {
        height: auto;
        padding: 2rem 1rem;
    }

    .page-gallery img {
        max-height: 100%;
        max-width: 100%;
    }

    .page-gallery video {
        display: none;
    }

    .video-cover {
        display: block;
    }

    .page-text {
        display: block;
        margin: 0;
    }
}