:root {
    --doc-height: 100%;
    --txt-color: #171a19;
    --bg-color: #fefefe;
    --orange: #e24011;
    --ecru: #c0b490;
    --light-ecru: #ded6bf;
    --nav: 5rem;
    --general-margin: 2.5rem;
    --copy-txt: .95rem;
    --medium-txt: 1.5rem;
    --large-txt: calc(2vw + 3rem);
    --project-size: calc(3vw + 2rem);
    --cursor-size: 2.5rem;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

a {
    cursor: pointer;
    border-bottom: 1px solid var(--txt-color);
    -webkit-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
    color: var(--ecru);
    border-bottom: 1px solid var(--orange);
}

nav a,
footer a,
.project-title--lv,
.page-gallery a,
.close-btn {
    border-bottom: none;
}

nav a:hover,
footer a:hover,
.project-title--lv:hover,
.page-gallery a:hover,
.close-btn:hover {
    color: inherit;
    border-bottom: none;
}

h2 {
    font-size: var(--large-txt);
    font-weight: 200;
    line-height: .8;
    text-indent: -2px;
    text-transform: uppercase;
}

li {
    color: var(--txt-color);
}

body.home {
    overflow: hidden;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: var(--cursor-size);
    height: var(--cursor-size);
    z-index: 4;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.project.animation {
    -webkit-transition: -webkit-transform 0s;
    transition: -webkit-transform 0s;
    -o-transition: transform 0s;
    transition: transform 0s;
    transition: transform 0s, -webkit-transform 0s;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.animation-cover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none;
    background-color: var(--txt-color);
    -webkit-transition: background-color .5s ease-in, opacity .5s ease;
    -o-transition: background-color .5s ease-in, opacity .5s ease;
    transition: background-color .5s ease-in, opacity .5s ease;
}

.logo-init {
    width: calc(var(--large-txt)*2);
    -webkit-animation: fadeIn .8s ease-in-out 1 forwards;
    animation: fadeIn .8s ease-in-out 1 forwards;
    -webkit-transition: width 4s linear, -webkit-filter .5s 1s ease;
    transition: width 4s linear, -webkit-filter .5s 1s ease;
    -o-transition: width 4s linear, filter .5s 1s ease;
    transition: width 4s linear, filter .5s 1s ease;
    transition: width 4s linear, filter .5s 1s ease, -webkit-filter .5s 1s ease;
}

.logo-init.change-width {
    width: 100%;
    -webkit-filter: opacity(0);
    filter: opacity(0);
}

.fill-white {
    fill: var(--bg-color);
}

.fill-black {
    fill: var(--txt-color);
}

.logo-init svg {
    display: block;
    margin-bottom: 1rem;
}

.logo-name {
    position: relative;
    fill: var(--bg-color);
}

.logo-name g {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo-name g:first-of-type {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.logo-name g:last-of-type {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

header {
    position: fixed;
    top: var(--general-margin);
    right: var(--general-margin);
    color: var(--ecru);
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 6;
}

nav {
    line-height: 1;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 2rem;
}

nav a:hover,
nav a.current {
    color: var(--orange);
}

nav h1 {
    display: inline;
    color: var(--orange);
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: var(--bg-color);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overlay.over {
    opacity: .95;
    pointer-events: all;
    cursor: none;
}

.close-all {
    display: none;
}

.to-the-page {
    visibility: hidden;
    pointer-events: none;
}

footer {
    position: fixed;
    bottom: var(--general-margin);
    right: var(--general-margin);
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 2rem;
    font-size: var(--copy-txt);
    font-weight: 400;
    line-height: 1.2;
    color: var(--txt-color);
}

footer p:nth-of-type(1) {
    font-weight: 500;
}

footer p:nth-of-type(2) {
    color: var(--orange);
}

footer a {
    color: var(--ecru);
}

footer a:hover {
    color: var(--orange);
}

.slide-section {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 5;
    padding: var(--general-margin);
    font-size: var(--copy-txt);
    color: var(--txt-color);
    background-color: var(--light-ecru);
    border: 1px solid var(--bg-color);
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.slide-section.open {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.slide-section h2 {
    margin-bottom: 1rem;
}

.close-btn {
    position: absolute;
    top: var(--general-margin);
}

.news .close-btn,
.contact .close-btn {
    right: var(--general-margin);
}

.about .close-btn {
    left: var(--general-margin);
}

.close-btn svg {
    display: block;
    width: 1rem;
    stroke: var(--orange);
    stroke-width: 4px;
}

.news {
    width: 50%;
    height: var(--doc-height);
    overflow-y: scroll;
}

.news h3 {
    font-size: var(--copy-txt);
}

.news p {
    margin-bottom: .5rem;
}

.news .info-list-content:not(:last-of-type) {
    margin-bottom: calc(var(--general-margin)*2);
}

.about {
    width: 100%;
    height: var(--doc-height);
    gap: var(--nav);
    overflow-y: scroll;
}

.info-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--general-margin) 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--general-margin);
}


.about .info-wrapper {
    margin-top: var(--nav);
}

.news .info-list {
    margin-right: var(--general-margin);
}

.info-content {
    -ms-grid-column: 2;
    grid-column: 2;
    grid-column-start: 2;
}

.info-content p {
    text-indent: 20%;
    margin-bottom: 1rem;
}

.info-content p:last-of-type {
    margin-bottom: 0;
}

.info-content span {
    font-weight: 500;
}

.info-list-content p:first-of-type {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    border-bottom: solid 1px var(--orange);
}

.about .info-list-content:not(:last-of-type) {
    margin-bottom: 1rem;
}

.about .info-list-content img {
    height: auto;
    max-width: 250px;
}

.info-images {
    mix-blend-mode: luminosity;
}

.info-images img {
    width: 100%;
}

.contact {
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-block:not(:last-of-type) {
    margin: 0 1rem;
}

.contact-block p:nth-child(1) {
    display: inline-block;
    border-bottom: solid 1px var(--orange);
}

.contact-block p:nth-child(1),
.contact-block a {
    font-weight: 500;
    margin-bottom: .5rem;
}

.contact-block p:last-child {
    margin-top: .5rem;
}

.contact-logo {
    margin-right: 1rem;
}

.contact-logo svg {
    height: 90%;
    fill: var(--txt-color);
}

.filters {
    height: var(--doc-height);
    padding: var(--general-margin);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: scroll;
    -webkit-animation: fadeIn 1s ease-in-out 1;
    animation: fadeIn 1s ease-in-out 1;
}

.filter-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: var(--copy-txt);
    font-weight: 400;
    line-height: 1.2;
    position: relative;
}

.filter-category {
    font-weight: 500;
}

.filter-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--ecru);
    cursor: pointer;
    -webkit-transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-btn.active {
    color: var(--orange);
    padding-left: 1.5rem;
    -webkit-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-btn.active:hover {
    color: var(--ecru);
}

.filter-btn:hover {
    color: var(--orange);
}

.filter-clear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 1rem;
    cursor: pointer;
    -webkit-transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-clear p:hover {
    color: var(--ecru);
}

.projects {
    -webkit-animation: fadeIn 1s ease-in-out 1;
    animation: fadeIn 1s ease-in-out 1;
}

.project {
    fill: var(--txt-color);
    -webkit-transition: opacity 3s ease, fill 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: opacity 3s ease, fill 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: opacity 3s ease, fill 1s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: opacity 3s ease, fill 1s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: opacity 3s ease, fill 1s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.project:hover {
    fill: var(--orange);
}

.project,
.project-plan {
    position: absolute;
    height: var(--project-size);
}

.project-plan,
.project-info {
    display: none;
    z-index: 5;
}

.project-plan {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    pointer-events: none;
}

.cls-1,
.cls-2 {
    fill: none;
    stroke: var(--txt-color);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-1 {
    stroke-width: 1px;
}

.cls-2 {
    stroke-width: .5px;
}

.project-info {
    position: absolute;
    color: var(--txt-color);
}

.project-info h2 {
    white-space: nowrap;
}

.project-info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--orange);
}

.project-info-text p {
    font-weight: 500;
    font-size: var(--copy-txt);
    white-space: nowrap;
}

.project-info-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 1rem;
}

.project-info-link a {
    font-weight: 400;
    font-size: var(--copy-txt);
}

.project-info-link svg {
    stroke: var(--txt-color);
}

.project-wrapper:nth-of-type(1)>.project,
.project-wrapper:nth-of-type(1)>.project-plan,
.project-wrapper:nth-of-type(1)>.project-info {
    top: 10%;
    left: 18%;
}

.project-wrapper:nth-of-type(2)>.project,
.project-wrapper:nth-of-type(2)>.project-plan,
.project-wrapper:nth-of-type(2)>.project-info {
    top: 15%;
    left: 30%;
}

.project-wrapper:nth-of-type(3)>.project,
.project-wrapper:nth-of-type(3)>.project-plan,
.project-wrapper:nth-of-type(3)>.project-info {
    top: 6%;
    left: 57%;
}

.project-wrapper:nth-of-type(4)>.project,
.project-wrapper:nth-of-type(4)>.project-plan,
.project-wrapper:nth-of-type(4)>.project-info {
    top: 17%;
    left: 70%;
}

.project-wrapper:nth-of-type(5)>.project,
.project-wrapper:nth-of-type(5)>.project-plan,
.project-wrapper:nth-of-type(5)>.project-info {
    top: 14%;
    left: 85%;
}

.project-wrapper:nth-of-type(6)>.project,
.project-wrapper:nth-of-type(6)>.project-plan,
.project-wrapper:nth-of-type(6)>.project-info {
    top: 30%;
    left: 15%;
}

.project-wrapper:nth-of-type(7)>.project,
.project-wrapper:nth-of-type(7)>.project-plan,
.project-wrapper:nth-of-type(7)>.project-info {
    top: 65%;
    left: 80%;
}

.project-wrapper:nth-of-type(8)>.project,
.project-wrapper:nth-of-type(8)>.project-plan,
.project-wrapper:nth-of-type(8)>.project-info {
    top: 20%;
    left: 45%;
}

.project-wrapper:nth-of-type(9)>.project,
.project-wrapper:nth-of-type(9)>.project-plan,
.project-wrapper:nth-of-type(9)>.project-info {
    top: 33%;
    left: 54%;
}

.project-wrapper:nth-of-type(10)>.project,
.project-wrapper:nth-of-type(10)>.project-plan,
.project-wrapper:nth-of-type(10)>.project-info {
    top: 33%;
    left: 81%;
}

.project-wrapper:nth-of-type(11)>.project,
.project-wrapper:nth-of-type(11)>.project-plan,
.project-wrapper:nth-of-type(11)>.project-info {
    top: 43%;
    left: 67%;
}

.project-wrapper:nth-of-type(12)>.project,
.project-wrapper:nth-of-type(12)>.project-plan,
.project-wrapper:nth-of-type(12)>.project-info {
    top: 54%;
    left: 47%;
}

.project-wrapper:nth-of-type(13)>.project,
.project-wrapper:nth-of-type(13)>.project-plan,
.project-wrapper:nth-of-type(13)>.project-info {
    top: 53%;
    left: 15%;
}

.project-wrapper:nth-of-type(14)>.project,
.project-wrapper:nth-of-type(14)>.project-plan,
.project-wrapper:nth-of-type(14)>.project-info {
    top: 83%;
    left: 75%;
}

.project-wrapper:nth-of-type(15)>.project,
.project-wrapper:nth-of-type(15)>.project-plan,
.project-wrapper:nth-of-type(15)>.project-info {
    top: 50%;
    left: 92%;
}

.project-wrapper:nth-of-type(16)>.project,
.project-wrapper:nth-of-type(16)>.project-plan,
.project-wrapper:nth-of-type(16)>.project-info {
    top: 72%;
    left: 17%;
}

.project-wrapper:nth-of-type(17)>.project,
.project-wrapper:nth-of-type(17)>.project-plan,
.project-wrapper:nth-of-type(17)>.project-info {
    top: 63%;
    left: 35%;
}

.project-wrapper:nth-of-type(18)>.project,
.project-wrapper:nth-of-type(18)>.project-plan,
.project-wrapper:nth-of-type(18)>.project-info {
    top: 82%;
    left: 30%;
}

.project-wrapper:nth-of-type(19)>.project,
.project-wrapper:nth-of-type(19)>.project-plan,
.project-wrapper:nth-of-type(19)>.project-info {
    top: 65%;
    left: 60%;
}

.project-wrapper:nth-of-type(20)>.project,
.project-wrapper:nth-of-type(20)>.project-plan,
.project-wrapper:nth-of-type(20)>.project-info {
    top: 40%;
    left: 27%;
}

.project-wrapper:nth-of-type(21)>.project,
.project-wrapper:nth-of-type(21)>.project-plan,
.project-wrapper:nth-of-type(21)>.project-info {
    top: 75%;
    left: 52%;
}

.project-wrapper:nth-of-type(5)>.project-info,
.project-wrapper:nth-of-type(15)>.project-info {
    -webkit-transform: translate(-140%, -25%);
    -ms-transform: translate(-140%, -25%);
    transform: translate(-140%, -25%);
    margin-top: 0;
}

.project-wrapper:nth-of-type(10)>.project-info {
    -webkit-transform: translate(-130%, -25%);
    -ms-transform: translate(-130%, -25%);
    transform: translate(-130%, -25%);
    margin-top: 0;
}

.project-wrapper:nth-of-type(1)>.project-info,
.project-wrapper:nth-of-type(2)>.project-info,
.project-wrapper:nth-of-type(3)>.project-info,
.project-wrapper:nth-of-type(4)>.project-info,
.project-wrapper:nth-of-type(6)>.project-info,
.project-wrapper:nth-of-type(8)>.project-info,
.project-wrapper:nth-of-type(9)>.project-info,
.project-wrapper:nth-of-type(11)>.project-info,
.project-wrapper:nth-of-type(12)>.project-info,
.project-wrapper:nth-of-type(13)>.project-info,
.project-wrapper:nth-of-type(20)>.project-info {
    margin-top: 10%;
    margin-left: -5%;
}

.project-wrapper:nth-of-type(7)>.project-info,
.project-wrapper:nth-of-type(14)>.project-info,
.project-wrapper:nth-of-type(16)>.project-info,
.project-wrapper:nth-of-type(17)>.project-info,
.project-wrapper:nth-of-type(18)>.project-info,
.project-wrapper:nth-of-type(19)>.project-info,
.project-wrapper:nth-of-type(21)>.project-info {
    -webkit-transform: translate(-30%, -150%);
    -ms-transform: translate(-30%, -150%);
    transform: translate(-30%, -150%);
    margin-top: 0;
}

.project.filtered {
    fill: var(--orange);
}

.project.hide {
    -webkit-filter: opacity(0);
    filter: opacity(0);
    pointer-events: none;
}

.projects--lv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: var(--general-margin);
    padding: var(--general-margin);
    margin: var(--nav) 0;
}

.project-wrapper--lv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 2rem;
    -webkit-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project--lv {
    position: static;
}

.project-plan--lv {
    position: relative;
    z-index: 5;
}

.project-list--lv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1rem;
}

.project-list--lv img {
    height: var(--project-size);
    -webkit-filter: grayscale(1) opacity(.85);
    filter: grayscale(1) opacity(.85);
    -webkit-transition: -webkit-filter 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-filter 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: filter 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: filter 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: filter 1.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-filter 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project--lv:hover~.project-list--lv img {
    -webkit-filter: none;
    filter: none;
}

.project-title--lv {
    font-weight: 500;
    font-size: var(--copy-txt);
    color: var(--txt-color);
    text-align: right;
    white-space: nowrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 1rem;
}

.project-wrapper--lv:last-child>.project-info {
    padding-bottom: var(--general-margin);
}

.project-wrapper--lv .project-info {
    margin-top: 10%;
    margin-left: -10%;
}

.project-wrapper--lv:nth-of-type(20) .project-info {
    margin-left: 0%;
}

.project-wrapper--lv:nth-of-type(21) .project-info {
    margin-top: -15%;
}

.show-info {
    display: block;
}

@media screen and (max-width: 720px) {
    :root {
        --general-margin: 1rem;
        --large-txt: calc(2vw + 2rem);
    }

    body.home {
        overflow-y: scroll;
        overflow-x: hidden;
        cursor: revert;
    }

    .cursor {
        display: none;
    }

    .logo-init {
        width: 32%;
        -webkit-transition: -webkit-transform 3s linear;
        transition: -webkit-transform 3s linear;
        -o-transition: transform 3s linear;
        transition: transform 3s linear;
        transition: transform 3s linear, -webkit-transform 3s linear;
    }

    .logo-init.change-width {
        width: 32%;
        -webkit-transform: scale(10);
        -ms-transform: scale(10);
        transform: scale(10);
    }

    nav {
        display: block;
        font-size: var(--copy-txt);
        line-height: 1.2;
    }

    nav h1 {
        display: block;
        text-align: end;
    }

    nav a:first-of-type {
        margin: 0;
    }

    nav a {
        display: block;
        text-align: end;
    }

    nav a.open-menu {
        display: block;
        text-align: end;
    }

    .filter-list:not(.filter-list.always-visible) {
        display: none;
    }

    .filter-list:not(.filter-list.always-visible).open-filter {
        display: block;
    }

    .filter-list.always-visible svg {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: -webkit-transform 1.2s ease;
        transition: -webkit-transform 1.2s ease;
        -o-transition: transform 1.2s ease;
        transition: transform 1.2s ease;
        transition: transform 1.2s ease, -webkit-transform 1.2s ease;
    }

    .filter-list.always-visible svg.rotate {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .projects {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: var(--nav);
    }

    .project-wrapper {
        width: 100%;
        position: relative;
        padding: var(--general-margin);
    }

    .project {
        position: static;
        height: auto;
        width: 100%;
    }

    .project.filtered {
        width: 30vw;
        position: sticky;
        fill: var(--orange);
        margin-left: 25%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .cls-1,
    .cls-2 {
        stroke: var(--bg-color);
    }

    .project-plan {
        position: fixed;
        top: calc(var(--general-margin)*2) !important;
        left: var(--general-margin) !important;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        height: auto;
        max-height: 60vh;
        width: calc(100vw - var(--general-margin)*2);
    }

    .project-info {
        position: fixed;
        top: auto !important;
        left: var(--general-margin) !important;
        bottom: var(--general-margin);
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        margin: 0 !important;
        width: calc(100vw - var(--general-margin)*2);
        color: var(--bg-color);
    }

    .project-info h2 {
        line-height: 1.2;
        padding: var(--general-margin) 0;
        position: absolute;
        bottom: 6rem;
    }

    .project .project-info-link {
        display: none;
    }

    .project-info-text {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .project-info-text p {
        white-space: normal;
    }

    .projects--lv {
        margin: var(--nav) 0 var(--nav) 3rem;
        gap: calc(var(--general-margin)*4);
    }

    .project-wrapper--lv {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        gap: calc(var(--general-margin)/2);
    }

    .project--lv {
        width: 33%;
        height: auto;
    }

    .project-list--lv {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        gap: calc(var(--general-margin)/2);
    }

    .project-list--lv img {
        height: 10vh;
    }

    .project-title--lv {
        font-size: var(--large-txt);
        font-weight: 200;
        line-height: 1;
        margin-left: 0;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .overlay {
        background-color: var(--txt-color);
    }

    .overlay.over {
        opacity: 1;
        cursor: revert;
    }

    .overlay svg {
        display: block;
        width: 1rem;
        stroke: var(--ecru);
        stroke-width: 3px;
    }

    .to-the-page {
        visibility: visible;
        pointer-events: all;
        position: fixed;
        bottom: 8.8rem;
        right: var(--general-margin);
        z-index: 9;
    }

    .close-all {
        display: block;
        position: fixed;
        top: var(--general-margin);
        left: var(--general-margin);
        z-index: 9;
    }

    .slide-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: calc(var(--general-margin)*2);
        border: 1px solid var(--bg-color);
        padding-top: 3rem;
        z-index: 8;
    }

    .news {
        width: 100%;
    }

    .about,
    .contact {
        height: var(--doc-height);
    }

    .contact-block:not(:last-of-type) {
        margin: 0;
    }

    .contact-logo {
        height: 16vh;
    }

    .info-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .about .info-list {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .about .info-wrapper,
    .news .info-list {
        margin: 0;
    }

    .info-images {
        margin-top: 1rem;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .about .close-btn {
        left: auto;
        right: var(--general-margin);
    }

    footer {
        gap: var(--general-margin);
    }

    a:hover {
        color: var(--txt-color);
        border-bottom: 1px solid var(--txt-color);
    }

    .filter-btn.active:hover {
        color: var(--orange);
    }

    footer a:hover,
    .filter-btn:hover {
        color: var(--ecru);
    }

    .contact-block a:hover,
    .filter-clear p:hover,
    .project-info a:hover,
    .footer--page a:hover {
        color: var(--txt-color);
    }

    .project-wrapper:nth-of-type(odd)>.project:hover,
    .project-wrapper:nth-of-type(even)>.project:hover,
    .project--lv:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}